# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
dist
dist-ssr
*.local

# Build output
.vite
out/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Virtual Environment
.venv/
__pycache__/
*.py[cod]

# Lockfiles (if using yarn or pnpm)
yarn.lock
pnpm-lock.yaml

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Hugging Face models & checkpoints
results/
*.bin
*.pt
*.h5

# Pretrained & fine-tuned models
fine_tuned_roberta/
~/.cache/huggingface/
~/.cache/datasets/

# Tokenizer cache
tokenizer.json
tokenizer_config.json

# ONNX model files
*.onnx

# Huggingface uploading files and credentials
left_right_classification_clearview_huggingface_token.txt
uploading_to_huggingface.py